@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './assets/fontawesome/scss/fontawesome.scss';
@import './assets/fontawesome/scss/solid.scss';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-family: Inter, sans-serif;
}
body {
  background: url('./assets/images/background.jpg') center/cover no-repeat fixed;
}
